body {
  font-family: helvetica; "sans-serif";
}

h3 {
  font-size: 30px;
}

#text {


}

span2 {
  cursor: pointer;
  display: inline;
    border-radius: 10px;
    background: #fff;
    padding: 10px;
    width: 100px;
    height: 150px;
    color: #F3490A;
    margin-left: 20px;
}

.hidden {
  display: none;
}


.grad {
  background: pink; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #EF00AA , #F3490A); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #EF00AA, #F3490A); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #EF00AA, #F3490A); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #EF00AA, #F3490A); /* Standard syntax */
  padding-top: 10px;
  padding-bottom: 40px;
}

.grad p {
  color:#fff;
}

.grad h1 {
  color:#fff;
  font-size: 30px;
  margin-bottom: -10px;
}

.grad h3 {
  color:#fff;
  font-size: 20px;

}


.logo {
  width: 50px;
}

.space {
  padding-bottom: 20px;
}

.line {
  border-bottom: 3px dashed #8F0C0E !important;
  padding-bottom: 10px;
  }

  .line2 {
    border-bottom: 3px solid #8F0C0E !important;
    padding-bottom: 10px;
    }

nav {
  margin: 20px;
  display: inline-block;
}

nav p{
  text-transform: uppercase;
  font-size: 14px;
  color: #f3490A;
  padding: 5px;
  display: inline-block;
}


a {
  color: #f3490A;
  text-decoration: none;

}

a:hover {
  text-decoration: underline;
  color: #8F0C0E;
}

.white {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
}

.white p {
  color: #000;
}

.white h3 {
  color: #000;
  font-size: 20px;
}

.floatingBox {
    display: inline-block;
    width: 500px;
    height: 30px;
    margin: 2px;
    padding-bottom: 30px;
    padding-left: 10px;
}

.floatingBox p {
  text-transform: uppercase;
  font-size: 14px;
  color: #f3490A;
  padding: 10px;
  display: inline-block;
}

.floatingBox2 {
    display: inline-block;
    width: 600px;
    height: 30px;
    margin: 10px;
    float:right;
}

.floatingBox2 p {
  font-size: 14px;
  float:right;
  text-transform: none;
  color: #f3490A;
  opacity: 0.5;
  padding:10px;
}


.pink {
  background-color: #f0d4d4;
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;
}

.pink h3 {
  color: #000;
  font-size: 20px;
}

.orange a {
  color: #8F0C0E;
  text-decoration: none;
}

.orange a:hover {
  text-decoration: underline;
}

span4 {
  cursor: pointer;
  color:#f3490A;
  font-size: 20px;
  padding-right:20px;
}
span5 {
  cursor: pointer;
  color:#f3490A;
  font-size: 20px;
  float:right;;
}

button {
  margin-left: 20px;
  background-color: #fff;
  color: #f3490A;
  font-size: 30px;
}
superscript { position: relative; top: -0.5em; font-size: 60%; padding-left: 2px;}

.page {
    margin:0% 8% 0% 8%;
    padding-top: 40px;
    padding-bottom: 40px;
  }

.item {
  padding: 15px 30px 0px 30px;
  display: inline-block;
  }

.item p {
    color:#8F0C0E;
    font-size: 14px;
  }

.item h3 {
    font-size: 20px;
    color:#fff;
  }

  .page2 {
      margin:0% 9% 0% 9%;
      padding-top: 20px;
      padding-bottom: 20px;
    }

  .item2 {
    padding: 15px 30px 0px 30px;
    display: inline-block;
    }

    h4 {
color:#8F0C0E;
font-size: 14px;

    }

  .item2 p {
      color:#fff;
      font-size: 14px;
    }

  .item2 h3 {
      font-size: 20px;
      color:#fff;
    }




.span {
  float:right;
}
.span2 {
  color: #8F0C0E;
  float:right;
}

.span3 {
  cursor: pointer;
  color: #fff;
}



.right {
  float: right;
  margin-left: 100px;
  }

.right p {
  font-size: 14px;
  text-transform: none;
  color: #f3490A;
  opacity: 0.5;
  padding:1%;
}
